<!doctype html>
<html>
<head>
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/0818444626/html2csv.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

</head>
   <body>
   <style>

h1 {
text-align:center;
}   
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th, tr {
    border: 1px solid #dddddd;
    text-align: left;
	max-width:150px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.active, .collapsible:hover {
    background-color: #a21f21!important;
	color: #fff!important;
}
.collapsible {
    background-color: #ED5153;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    margin-bottom: 5px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
}




</style>
<button class="collapsible"><h2>Product informatie</h2></button>
<div class = "content">
<table id = "productentabel">
<thead>
  <tr class = "header">
  <th>Internal ID</th>
  <th>Visible</th>
  <th>Brand</th>
  <th>Supplier</th>
  <th>NL_Title_Short</th>
  <th>NL_Title_Long</th>
  <th>NL_Description_Short</th>
  <th>NL_URL</th>
  <th>NL_Variant</th>
  <th>Price</th>
  <th>Stock_Min</th>
  <th>Article_Code</th>
  <th>EAN</th>
  <th>SKU</th>
	</thead>
	{% for values in data %}
	<TR>
	<td>{{values['Internal_ID']}}</td> 
  <td>{{values['Visible']}}</td>
  <td>{{values['Brand']}}</td>
  <td>{{values['Supplier']}}</td>
  <td>{{values['NL_Title_Short']}}</td>
  <td>{{values['NL_Title_Long']}}</td>
  <td>{{values['NL_Description_Short']}}</td>
  <td>{{values['NL_URL']}}</td>
  <td>{{values['NL_Variant']}}</td>
  <td>{{values['Price']}}</td>
  <td>{{values['Stock_Level']}}</td>
  <td>{{values['Article_Code']}}</td>
  <td>{{values['EAN']}}</td>
  <td>{{values['SKU']}}</td>
	</TR>
	{% endfor %}
	</tr>	
	</table>

</div>


<button class="collapsible"><h2>Voorraad en gewicht informatie</h2></button>
<div class = "content">
<table id = "producten_voorraad">
<thead>
  <tr class = "header">
  <th>Internal ID</th>
  <th>NL_Title_Short</th>
  <th>NL_Variant</th>
  <th>Stock_track</th>
  <th>Stock_Disable_Sold_Out</th>
  <th>Stock_Level</th>
  <th>Stock_Min</th>
  <th>Weight_Value</th>
  <th>Weight_Unit</th>
  <th>Weight</th>

  </thead>
  {% for values in data %}
  <TR>
  <td>{{values['Internal_ID']}}</td> 
  <td>{{values['NL_Title_Short']}}</td>
  <td>{{values['NL_Variant']}}</td>
  <td>{{values['Stock_Track']}}</td>
  <td>{{values['Stock_Disable_Sold_Out']}}</td>
  <td>{{values['Stock_Level']}}</td>
  <td>{{values['Stock_Min']}}</td>
  <td>{{values['Weight_Value']}}</td>
  <td>{{values['Weight_Unit']}}</td>
  <td>{{values['Weight']}}</td>
  </TR>
  {% endfor %}
  </tr> 
  </table>

</div>

<button class="collapsible"><h2>Prijs informatie</h2></button>
<div class = "content">
<table id = "prijstabel">
<thead>
  <tr class = "header">
  <th>Internal ID</th>
  <th>NL_Title_Short</th>
  <th>NL_Title_Long</th>
  <th>NL_Variant</th>
  <th>Price</th>
  <th>Price_Old</th>
  <th>Tax</th>

  </thead>
  {% for values in data %}
  <TR>
  <td>{{values['Internal_ID']}}</td> 
  <td>{{values['NL_Title_Short']}}</td>
  <td>{{values['NL_Title_Long']}}</td>
  <td>{{values['NL_Variant']}}</td>
  <td>{{values['Price']}}</td>
  <td>{{values['Price_Old']}}</td>
  <td>{{values['Tax']}}</td>
  </TR>
  {% endfor %}
  </tr> 
  </table>

</div>

<button class="collapsible"><h2>SEO informatie</h2></button>
<div class = "content">
<table id = "seotabel">
<thead>
  <tr class = "header">
  <th>Internal ID</th>
  <th>NL_Title_Short</th>
  <th>NL_Title_Long</th>
  <th>NL_Meta_Title</th>
  <th>NL_Meta_Description</th>
  <th>NL_Meta_Keywords</th>
  <th>Tags</th>

  </thead>
  {% for values in data %}
  <TR>
  <td>{{values['Internal_ID']}}</td> 
  <td>{{values['NL_Title_Short']}}</td>
  <td>{{values['NL_Title_Long']}}</td>
  <td>{{values['NL_Meta_Title']}}</td>
  <td>{{values['NL_Meta_Description']}}</td>
  <td>{{values['NL_Meta_Keywords']}}</td>
  <td>{{values['Tags']}}</td>
  </TR>
  {% endfor %}
  </tr> 
  </table>

</div>

<button class="collapsible"><h2>Producten met lege SEO gerelateerde velden</h2></button>
<div class = "content">
<table id = "seo_adviestabel">
<thead>
  <tr class = "header">
  <th>Internal ID</th>
  <th>NL_Title_Short</th>
  <th>NL_Title_Long</th>
  <th>NL_Meta_Title</th>
  <th>NL_Meta_Description</th>
  <th>NL_Meta_Keywords</th>
  <th>Tags</th>

  </thead>
  {% for values in data %}
  {% if values['NL_Meta_Title'] == "" or values['NL_Meta_Description'] == "" or values['NL_Meta_Keywords'] == "" %}
  <TR>
  <td>{{values['Internal_ID']}}</td> 
  <td>{{values['NL_Title_Short']}}</td>
  <td>{{values['NL_Title_Long']}}</td>
  <td>{{values['NL_Meta_Title']}}</td>
  <td>{{values['NL_Meta_Description']}}</td>
  <td>{{values['NL_Meta_Keywords']}}</td>
  <td>{{values['Tags']}}</td>
  {% endif %}
  </TR>
  {% endfor %}
  </tr> 
  </table>

</div>

	<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
$(document).ready(function() {
    $('#productentabel').DataTable( {
        dom: 'Blfrtip',
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

$(document).ready(function() {
    $('#producten_voorraad').DataTable( {
        dom: 'Blfrtip',
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
$(document).ready(function() {
    $('#prijstabel').DataTable( {
        dom: 'Blfrtip',
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
$(document).ready(function() {
    $('#seotabel').DataTable( {
        dom: 'Blfrtip',
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

$(document).ready(function() {
    $(seo_adviestabel).DataTable( {
        dom: 'Blfrtip',
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
} );
} );
	</script>



   </body>
</html>